header a:hover{
  color: #fff;
}


h4{
  margin-top: 0px !important;
}

.listeprogr a{
  font-size: 1.9rem!important;
}

.thumbnail{
  border: hidden;
  }

  .evenement-nav-programme{
  margin: 10px auto;
  text-align: center;
  }

.listeprogr h3{
  font-size: 30px;
  margin-top: 20px;
}

.listeprogr h4{
  font-size: 20px;
  margin-left: 5px;
}

.carte a{
color: #000;
}

.carte a:hover{
text-decoration: none;
}

.maj{
  font-size: 39px;
}

.ligne{
  display: flex;
}

.carte{
  margin-top: 3%;
  width: 330px;
}

.horaire_evenement{
  display: flex;
  justify-content: space-between;
  margin: 5px 5px;
}

.infoplus_evenement a{
  text-decoration: none;
  color: #000;
  margin-left:2px;
  width: 20%;
}

.stat a{
  color: #fff!important;
}

/* couleur de fond  */


.info-conf{
  background: #e7b171!important;
}

.info-expo{
  background-color: #78a5c1!important;
}

.info-anim{
  background-color: #a87cc9!important;
}

/* statut */
.stat{
  text-align: center;
  color: #fff;
  padding: 10px;
}

.last-place{
  background-color: #f32e2e;
  border-left: 5px solid #f32e2e;
}

.open{
  background-color: #66a251;
  border-left: 5px solid #66a251;
}

.full{
  background-color: #000;
  text-transform: uppercase!important;
  border-left: 5px solid #000;
}

.border-last{
  border-left: 5px solid #f32e2e;
}

.border-open{
  border-left: 5px solid #66a251;
}

.border-full{
  border-left: 5px solid #000;
}

.lien a{
  padding: 10px;
  border-radius: 2px;
  margin-right: 10px;
  color: #000;
}

.lien a:hover{
  text-decoration: none;
}

.nav-pills>li.active>div.conf>a{
  background: #e7b171!important;
  color: #fff;
}

.nav-pills>li.active>div.expo>a{
  background: #78a5c1!important;;
  color: #fff;
}

.nav-pills>li.active>div.anim>a{
  background: #a87cc9!important;;
  color: #fff;
}
