html, body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 62.5%;
  line-height: 20px;
  display:flex;
  flex-direction: column;
  height:100%;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  line-height: 20px;
}

.infopratique{
  margin:15% 8% 5% 8%;
}

 .picto i{
  font-size: 30px;
}

.picto li{
  margin:2%;
}

.infopratique h4{
  margin-top:2%;
  margin-bottom:0;
}

@media screen and (max-width :800px) {
  .infopratique {
    margin-top:20%;
    }
  .picto i{
   font-size: 25px;
   }
}
