html, body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 62.5%;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  overflow-x: hidden;
}

/*       ****************************
         *          HEADER          *
         ****************************

*/

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #051821;
  font-size: 2.5rem;
  padding-top: 1%;
  padding-bottom: 1%;
  position: fixed;
  z-index: 10;
  box-shadow: 0 0 11px 12px #000;
}

header div {
  cursor: pointer;
}

header a {
  text-decoration: none;
  color: #f1f1f1;
  outline: none;
}

/*---------------------------BOUTON BURGER------------------------*/

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #f1f1f1;
  margin: 6px 0;
  /* transition: 0.3s; */
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/*<---------------------FIN BOUTON------------------------*/

/*<-------------------DEBUT menu déroulant--------------------->*/

.sidenav {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: -2;
  top: 12.05%;
  left: 0%;
  background-color: rgba(5,24,33,0.8);
  overflow-x: hidden;
  padding-top: 25px;
}

/*--animation du menu déroulant---*/

.animation-left {
  animation-name: slideleft;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.animation-right {
  animation-name: slideright;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes slideleft {
  100% {width: 21%;}
}

@keyframes slideright {
  0% {width: 21%;}
  100% {width: 0%;}
}

.sidenav a {
  display: block;
  padding: 25px 8px 8px 32px;
  text-decoration: none;
  font-size: 2.5rem;
  color: #f1f1f1;
  white-space: nowrap;
  transition: 1s;
}

/*<-------------------FIN menu déroulant--------------------->*/

/*<-------------------DEBUT  logo------------*/

.logo {
  width: 18%;
}

.logo1 {
  width: 100%;
}

.resize {
  max-width: 100%;
  height: auto !important;
}

/*<-------------------FIN logo--------------------->*/

/* ----------- DEBUT compte inscrip / connect---------------------->*/

.programme a:hover,
.cpt_inscrip a:hover {
  animation: nom_anim_bouton1 0.5s infinite alternate;
}

.cpt_connect:hover {
  animation: flip 2s;
}

@keyframes nom_anim_bouton1{
0% {
    text-shadow: :0 0 5px #46a1bc;
  }
100% {
    text-shadow: 0 0 50px #55acee;
    text-decoration: underline;
  }
}

/*       ****************************
         * PARTIE STICKY SOCIAL BAR *
         ****************************

*/

.icon-bar {
  position: fixed;
  right: 0%;
  top: 50%;
  z-index: 50;
}

.icon-bar:hover .socialhide {
  visibility: visible;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 11px;
  transition: all 0.5s ease;
  color: white;
  font-size: 2rem;
}

.icon-bar a:hover {
  background-color: #000;
}

.socialhide {
  visibility: hidden;
  color: #0983a9;
  cursor: pointer;
  font-size: 2rem;
}

.socialappear {
  position: fixed;
  right: 0%;
  top: 55%;
  color: #0983a9;
  display: block;
  cursor: pointer;
  font-size: 2rem;
  z-index: 50;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.instagram {
  background: #fe6242;
  color: white;
}

/*
           *********************************************
           *          PARTIE MAIN page accueil         *
           **********************************************/

.page_accueil {
  margin-top: 5%;
}

.contenu {
  position: absolute;
  z-index: 9;
  background-color: #fff;
}

/*
           *********************************************
           *          PARTIE PRESENTATION              *
           *********************************************
 */

.ci {
  position: relative;
}

.ci img {
  width: 100%;
}

.ombreplace {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 3
}

.presentation {
  position: absolute;
  width: 55%;
  margin: auto;
  height: 250px;
}

.pres {
  position: relative;
}

.pres p {
  position: absolute;
  z-index: 9;
  width: 29%;
  color: white;
  font-size: 1.6rem;
  margin-top: 13%;
  margin-left: 36%;
  background-color: black;
  padding: 40px;
  top: 0;
  border: 2px ridge;
  background-color: #051821;
}

.presentation h3 {
  text-align: center;
  font-size: 2.5rem;
  margin: 0;
}

/*       ****************************
         *          PARALLAX        *
         ****************************
*/

.couche2 {
  position: absolute;
  width: 100%;
  z-index: 2;
  top: 0;
}

.couche3 {
  position: absolute;
  z-index: 1;
  top: -1120px;
  width: 110% !important;
}

/*

/*
            *********************************************
            *          FIN PARTIE PRESENTATION          *
            *********************************************
  */

/*
              *********************************************
              *               ACCUEIL EVENEMENT           *
              *********************************************
    */

.evenement {
  display: flex;
  width: 90%;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}

.evenement .conf, .evenement .expo, .evenement .anim {
  width: 29%;
  margin: auto;
  text-align: center;
  /* max-width: 100%; */
  height: auto !important;
  -webkit-transition: all 0.5s ease-out;
  /*compatibilité chrome*/
  -moz-transition: all 0.5s ease-out;
  /*compatibilité firefox*/
  -o-transition: all 0.5s ease-out;
  /*compatibilité opéra*/
  transition: all 0.5s ease-out;
  /* Autre navigateur */
}

.evenement p {
  text-align: center;
  font-size: 2rem;
  margin: auto;
  padding: 20px;
  color: white;
}

.evenement .pict {
  max-width: 100%;
  height: auto !important;
}

.evenement .conf {
  background-color: #e7b171
}

.evenement .expo {
  background-color: #78a5c1;
}

.evenement .anim{
  background-color: #a87cc9;
}

.conf:hover, .expo:hover, .anim:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  cursor: pointer;
}

/*
           *********************************************
           * PARTIE GOOGLE MAP ET TEXTE PAGE D'ACCUEIL *
           *********************************************
 */

div p {
  text-align: justify;
  font-size: 1.5rem;
}

.mapaccueil {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.sct3txt, .googlemap {
  width: 43%;
}

.sct3txt h3 {
  text-align: center;
  font-size: 2.5rem;
}

.googlemap iframe {
  width: 100% !important;
  height: 100% !important;
}

/*
           *********************************************
           *       PARTIE BOUTONS DE FORMULAIRES       *
           *********************************************
 */

.subconn::before {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-box-shadow: #959595 0 2px 5px;
  -moz-box-shadow: #959595 0 2px 5px;
  border-radius: 3px;
  box-shadow: #959595 0 2px 5px;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  padding: 2px 0 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.subconn:active {
  background: #474747;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#474747), to(#444));
  outline: 1px solid;
  outline-color: white;
  background: -moz-linear-gradient(#474747, #444);
  background: linear-gradient(#474747, #444);
  box-shadow: inset 0 10px 15px 0 #3e3e3e;
  top: 2px;
}

.subconn {
  font: bold 12px Arial, Helvetica, Clean, sans-serif;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  cursor: pointer;
  outline: 1px solid;
  outline-color: #fff;
  outline-offset: 0px;
  text-shadow: none;
  border-radius: 0;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.subconn:hover {
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
  background: linear-gradient(#4c4c4c, #565656);
}

/*            ************************
              *    PARTIE FOOTER     *
              ************************
*/

footer {
  position: relative;
  bottom: 0;
}

.footer-distributed {
  background-color: #292C2F;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 1.6rem sans-serif;
  padding: 55px 50px;
  margin-top: auto;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* ------------------Footer left-------------------- */

.footer-distributed .footer-left {
  width: 40%;
}

/* ----------------- logo------------------ */

footer img {
  width: 80%;
}

/* --------------------Footer links----------------- */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-links a {
  position: relative;
  display: inline-block;
  color: #666;
  transition: color .2s ease;
  padding: 3px 0;
  margin-bottom: 15px;
}

.footer-links a:hover {
  color: #aaa;
}

.footer-links a:hover::after, .footer-links a:hover::before {
  width: 100%;
  left: 0;
}

.footer-links a::after, .footer-links a::before {
  content: '';
  position: absolute;
  top: calc(100%);
  width: 0;
  right: 0;
  height: 3px;
}

.footer-links a::before {
  transition: width .4s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
  background: #498fba;
}

.footer-links a::after {
  transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
  background: #c1341a;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 1.4rem;
  font-weight: normal;
  margin: 0;
}

/* -------------------Footer Center------------------- */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 2.5rem;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 1.7rem;
  line-height: 38px;
}

.footer-center #marker:hover i {
  -webkit-animation: bounce 1s;
  animation: bounce 1s;
  color: #bf2c20;
}

.footer-center #phone:hover i {
  -webkit-animation: bounce 1s;
  animation: bounce 1s;
  color: #00ad5f;
}

.footer-center #envelope:hover i {
  -webkit-animation: bounce 1s;
  animation: bounce 1s;
  color: #438cc3;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #5383d3;
  text-decoration: none;
  ;
}

/* ------------------Footer Right----------------- */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 1.3rem;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-icons a:hover {
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}

#fb:hover {
  color: #3b5998;
}

#tw:hover {
  color: #00aced;
}

#lkd:hover {
  color: #0077b5;
}

/*********************************************************
*                          FIN FOOTER                    *
**********************************************************

/*********************************************************
*                          GENERATION EVENEMENT          *
**********************************************************/

.messagevalid {
  margin-top: 15%;
  margin-bottom: 5%;
  font-size: 2rem;
  color: #f1f1f1f1;
  text-align: center;
  line-height: 46px;
  max-width: 100%;
}

.messagevalid a {
  font-size: 1.8rem;
  margin: 1% auto;
}

/*********************************************************
*                      fin GENERATION EVENEMENT          *
**********************************************************

/*********************************************************
------------partie media queries responsive------------- *
*********************************************************/

@media screen and (max-height: 250px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 800px) {
  .sidenav {
    top: 14.5%;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow-x: hidden;
  }

  .menu {
    width: 10%;
    margin: 0;
  }

  .programme,
  .cpt_inscrip {
    display: none;
  }

.logo{
  width: 50%;
}

  @keyframes slideleft {
    100% {
      width: 90%;
    }
  }
  @keyframes slideright {
    0% {
      width: 90%;
    }
    100% {
      width: 0%;
    }
  }

  .footer-distributed {
    font: bold 1.4rem sans-serif;
    /* position: inherit; */
  }
  footer img {
    width: 100%;
  }

  .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed .footer-center i {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
  }
  .footer-distributed .footer-center p {
    font-size: 1.4rem;
  }
  .mapaccueil {
    flex-direction: column;
    align-items: center;
  }
  .sct3txt, .googlemap {
    width: 80%;
  }
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 6px;
    transition: all 0.3s ease;
    color: white;
    font-size: 2rem;
  }
  .evenement {
    display: flex;
    flex-direction: column;
  }
  .evenement .conf, .evenement .expo, .evenement .anim {
    width: 60%;
    margin-bottom: 5%;
  }
}

@media screen and (max-width :1200px) {
  .pres p {
    margin: 0 auto;
    width: 60%;
    margin-top: 110px;
    left: 10%;
  }

  .couche3 {
    top: -759px;
  }

  .ci img:first-child {
    height: 700px;
  }
}
